@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import 'colors';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $base-black;
  font: {
    family: 'Catamaran', sans-serif;
    size: 18px;
  }
}

h1 {
  text-align: center;
  padding: 40px 0;
}