@import url('https://fonts.googleapis.com/css?family=Cabin');
@import 'colors';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $base-black;
  font: {
    family: 'Cabin', sans-serif;
    size: 18px;
  }
}

h1 {
  text-align: center;
  padding: 40px 0;
}

h2 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 400;
}

ul {
  list-style: none;
}

.hidden {
  visibility: hidden;
}