$base-black: #444;

// Keyboard Colors
$keyboard__top-border: #222;
$keyboard__base-white: #fefefe;
$keyboard__base-white--hover: rgb(197, 255, 214);
$keyboard__base-black: rgb(32, 34, 41);
$keyboard__base-black--hover: rgb(64, 124, 82);

$keyboard__key-border-left--white: rgba(240, 240, 240, 0.3);
$keyboard__key-border-bottom--white: rgb(223, 223, 223);
$keyboard__key-border-right--white: rgb(197, 197, 197);

$keyboard__key-border-left--black: rgba(110, 110, 110, 0.4);
$keyboard__key-border-bottom--black: rgba(54, 55, 58, 0.4);
$keyboard__key-border-right--black: rgba(35, 35, 37, 0.5);

$keyboard__text-white: #222;
$keyboard__text-black: #fefefe;

$keyboard__highlight--white: #e2f2f3;
$keyboard__highlight--black: #446063;


        
        