$base-black: #444;

// Keyboard Colors
$keyboard__top-border: #222;
$keyboard__base-white: #fefefe;
$keyboard__base-white--hover: rgb(197, 255, 214);
$keyboard__base-black: rgb(32, 34, 41);
$keyboard__base-black--hover: rgb(64, 124, 82);

$keyboard__highlight-white: #e2f2f3;
$keyboard__highlight-black: #446063;