@import 'colors';

$degree-display-height: 30px;

@mixin centerChildren() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.degree-display {
  height: $degree-display-height;
  padding: 5px 0;

  font-size: 0.75rem;
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  &__key {
    @include centerChildren();
    width: 20px;
    flex-shrink: 0;
    border-bottom: 1px solid $degree-display__white-key;
  }

  &__edge-key-left {
    margin-left: 10px;
  }

  &__edge-key-right {
    margin-right: 10px;
  }
  
  &__black-key {
    border-bottom: 5px solid $degree-display__black-key;
  }
}
