@import 'colors';

$base-keyboard-height: 225px;
$base-width: 840px;
$white-key-width: 40px;
$black-key-width: 20px;
$black-key-height-ratio: 65%;

.keyboard {

  width: $base-width;
  margin: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  border: {
    top: 10px solid $keyboard__top-border;
    radius: 5px;
  }

  &__container {
    height: $base-keyboard-height;
    display: flex;
  }

  /* Makes keyboard scrollable under a certain view width */
  @media only screen and (max-width: 930px) {
    overflow-x: scroll;
    width: 90%;
  }

  &__octave {
    display: flex;
  }

  &__key {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: border-bottom-width 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);

    cursor: pointer;

    &--white {
      border: {
        bottom: 5px solid $keyboard__key-border-bottom--white;
        left: 2px solid $keyboard__key-border-left--white;
        right: 2px solid $keyboard__key-border-right--white;
      }
      height: $base-keyboard-height;
      width: $white-key-width;
      position: relative;
      background: $keyboard__base-white;
      background: $keyboard__white-key-gradient; 
    }

    &--black {
      border: {
        bottom: 5px solid $keyboard__key-border-bottom--black;
        left: 2px solid $keyboard__key-border-left--black;
        right: 2px solid $keyboard__key-border-right--black;
      }
      height: $black-key-height-ratio;
      width: $black-key-width;
      left: $black-key-width / 2 * -1;
      position: absolute;
      z-index: 1;
      background: $keyboard__base-black;
      background: $keyboard__black-key-gradient;
      box-shadow: 0px 1px 2px 0px rgba(182, 182, 182, 0.7);
    }
  }

  &__black-key-anchor {
    position: relative;
  }

  &__key-name {
    font-size: 0.7rem;
    padding-top: 10px;
    color: $keyboard__text-white;

    &--left-align {
      margin-right: 10px;
    }

    &--right-align {
      margin-left: 10px;
    }

    &--black-key {
      color: $keyboard__text-black;
      font-size: 0.65rem;
      padding-top: 11px;
      letter-spacing: 1px;
    }
  }
  
  &__text-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  &__fingering {
    font-size: 0.85rem;
    padding: 5px 0;

    color: $keyboard__text-white;

    &--black-key {
      color: $keyboard__text-black;
    }
  }
}

.piano-key-highlight--white {
  background: $keyboard__highlight--white;
  border-bottom-width: 2px;
}

.piano-key-highlight--black {
  background: $keyboard__highlight--black;
  border-bottom-width: 2px; 
}
