@import 'base';
@import 'keyboard';
@import 'degreeDisplay';
@import 'colors';

.scale-list {
  display: flex;
  margin: 90px 50px;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #777;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}