@import 'base';
@import 'keyboard';
@import 'degree-display';
@import 'colors';
@import 'scale-list';

.scale-display {
  max-width: 840px;
  height: 40px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;

  &__text-panel {
    width: 200px;
    border-radius: 4px;
    background: rgb(124, 129, 135);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto 20px;
    font-size: 0.9rem;
  }
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}