@import url("https://fonts.googleapis.com/css?family=Cabin");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  color: #444;
  font-family: 'Cabin', sans-serif;
  font-size: 18px; }

h1 {
  text-align: center;
  padding: 40px 0; }

.keyboard {
  height: 225px;
  width: 840px;
  margin: auto;
  display: flex;
  overflow-x: hidden;
  border-top: 10px solid #222;
  border-radius: 5px;
  /* Makes keyboard scrollable under a certain view width */ }
  @media only screen and (max-width: 930px) {
    .keyboard {
      overflow-x: scroll;
      width: 90%;
      height: 238px; } }
  .keyboard__octave {
    display: flex; }
  .keyboard__key {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: background .1s linear;
    cursor: pointer; }
    .keyboard__key--white {
      border-bottom: 5px solid #dfdfdf;
      border-left: 2px solid #f0f0f0;
      border-right: 2px solid #c5c5c5;
      height: 100%;
      width: 40px;
      float: left;
      background: #fefefe;
      background: linear-gradient(180deg, rgba(133, 133, 133, 0.35) 0%, #f2f3f5 2%, #fefefe 100%); }
    .keyboard__key--black {
      border-bottom: 5px solid rgba(54, 55, 58, 0.4);
      border-left: 2px solid rgba(110, 110, 110, 0.4);
      border-right: 2px solid rgba(35, 35, 37, 0.5);
      height: 65%;
      width: 20px;
      left: -10px;
      position: absolute;
      z-index: 1;
      background: #202229;
      background: linear-gradient(130deg, #202229 0%, #353537 50%, #202229 100%);
      box-shadow: 0px 1px 2px 0px rgba(182, 182, 182, 0.7); }
  .keyboard__black-key-anchor {
    position: relative; }
  .keyboard__key-name {
    font-size: 0.7rem;
    padding-top: 10px;
    color: #222; }
    .keyboard__key-name--left-align {
      margin-right: 10px; }
    .keyboard__key-name--right-align {
      margin-left: 10px; }
    .keyboard__key-name--black-key {
      color: #fefefe;
      font-size: 0.65rem;
      padding-top: 11px;
      letter-spacing: 1px; }
  .keyboard__text-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center; }
  .keyboard__fingering {
    font-size: 0.85rem;
    padding: 5px 0;
    color: #222; }
    .keyboard__fingering--black-key {
      color: #fefefe; }

.piano-key-highlight--white {
  background-color: #e2f2f3; }

.piano-key-highlight--black {
  background-color: #446063; }

.scale-list {
  display: flex;
  margin: 90px 50px;
  justify-content: space-around; }

.btn {
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #777; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
